/* BODY
=================================== */
body {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
}

/* NAVBAR
=================================== */
.bg-black {
  background: #0e0e0e;
}

.navbar-brand {
  font-size: 1.25rem !important;
}

.navbar-custom {
  min-height: 100px;
}

.navbar a {
  font-size: 1em;
  color: #fff !important;
  text-decoration: none;
}

.nav-item {
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav-social-media {
  padding-right: 0rem;
  padding-left: 0rem;
}

.nav-gap-sm {
  padding-left: 2rem;
}

.nav-link:hover {
  color: gray !important;
}

.dropdown-menu {
  background-color: #0e0e0e !important;
  border-radius: 0;
}

.dropdown-item:hover {
  background-color: #0e0e0e !important;
  color: gray !important;
}

.dropdown {
  box-shadow: none !important;
}

/* HERO
=================================== */
.section-hero {
  background-color: #0e0e0e;
}

.carousel-inner {
  width: 90%;
  height: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .carousel-inner {
    width: 100%;
  }
}

.carousel-item {
  height: 100vh;
  background: #000;
  color: #fff;
  position: relative;
  background-position: center;
  background-size: cover;
}

.slide-one {
  background-image: url(/images/buildingface2.jpg);
}

.slide-two {
  background-image: url(/images/buildingface.jpg);
}

.slide-three {
  background-image: url(/images/building3.jpg);
}

.container-carousel {
  text-align: center;
  color: whitesmoke;
  overflow: hidden;
  position: absolute;
  bottom: 270px;
  left: 0;
  right: 0;
}

.headline {
  font-size: 4em;
  font-weight: 600;
  line-height: 1.2;
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

/* "WHO WE ARE" SECTION
=================================== */
.about-us-section {
  background-color: white;
  margin-top: -100px;
}

.subtitle-div {
  margin-top: -400px;
}

.about-us-div {
  margin-top: -170px;
}

.btn {
  border-radius: 0;
  padding: 15px 40px;
  margin-top: 35px;
  font-weight: 500;
}

.btn-dark {
  color: #fff;
  background-color: #0e0e0e;
  border-color: #0e0e0e;
}

.subtitle {
  margin-bottom: 1.2em;
  font-family: Inter, sans-serif;
  font-size: .9375em;
  font-weight: 700;
  line-height: 1.8;
}

.h3 {
  margin-bottom: 0.76471em;
  font-size: 2.125em;
  line-height: 1.3;
}

.lead {
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.5;
  color: #0e0e0e;
}

.hr-about-us {
  border-color: inherit;
  position: relative;
  border: 1px solid rgba(14, 14, 14, .1);
}

/* SERVICES SECTION
=================================== */
.services-section {
  background-color: white;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.card {
  border-radius: 0;
  width: 100%;
  height: 360px;
  margin: 20px;
  border-color: white;
  background: black;
  overflow: hidden;
}

@media only screen and (max-width: 1200px) {
  .card {
    margin: 0;
  }
}

.card-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  border-radius: 0;
  position: relative;
}

.card-management {
  background-image: url(/images/management1.jpg);
}

.card-development {
  background-image: url(/images/development.jpg);
}


.card-construction {
  background-image: url(/images/construction.jpg);
}

.card-facilities {
  background-image: url(/images/facilities.jpg);
}

.card-investment {
  background-image: url(/images/bb1.jpg);
}

@media (hover) {
  .card-container {
    padding-left: 2.3rem;
    transform: translateY(53%);
    -webkit-transform: translateY(53%); /* WebKit */
    -moz-transform: translateY(53%); /* Mozilla */
    -o-transform: translateY(53%); /* Opera */
    -ms-transform: translateY(53%); /* Internet Explorer */


    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out; /* WebKit */
    -moz-transition: 0.4s ease-in-out; /* Mozilla */
    -o-transition: 0.4s ease-in-out; /* Opera */
    -ms-transition: 0.4s ease-in-out; /* Internet Explorer */
  }

  .card-read {
    opacity: 0;
    transition: opacity 0.4s linear;
  }

  .card:hover .card-container,
  .card:focus-within .card-container {
    transform: translateY(33%);
  }

  .card:hover .card-read,
  .card:focus-within .card-read {
    opacity: 1;
  }

  .card .card-image {
    transform: scale(1);
    transition: 0.6s ease-in-out;
  }

  .card:hover .card-image,
  .card:focus-within .card-image {
    transform: scale(1.06);
  }
}

/* WHY PEOPLE CHOOSE US
=================================== */
.why-section {
  background-color: white;
  position: relative;
  z-index: 1;
  padding-top: 3.5rem;
  padding-bottom: 7.5rem;
}

.why-icon {
  margin-top: -96px;
}

.feature-text {
  font-weight: 500;
  font-size: 15px;
}

/* TESTIMONIAL STYLING
=================================== */
.testimonial-section {
  background-color: #0e0e0e;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.carousel-cell {
  width: 500px;
  height: 300px;
  margin-right: 50px;
  border: solid 1px #444444;
  counter-increment: carousel-cell;
}

.carousel-cell-inner {
  padding: 3.5rem;
}

@media only screen and (max-width: 600px) {
  .carousel-cell-inner {
    padding: 4.5rem;
  }
}

.fa-quote-left {
  min-width: 2.5em;
  line-height: 1.5;
}

.carousel-cell:not(.is-selected) {
  opacity: 0.25;
}

.flickity-page-dots {
  opacity: 0;
}

.flickity-page-dots>.dot {
  background: #fff;
}

.flickity-button {
  color: #fff;
  background: gray;
  opacity: 0.2;
}

.flickity-button:hover {
  color: #000;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .flickity-button {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .flickity-page-dots {
    opacity: 100%;
  }
}

/* INVITATION
=================================== */
.invitation-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.underline {
  border-bottom: 1.5px solid currentColor;
  padding-bottom: 17px;
  display: inline-block;
}

.invitation-h1 {
  font-size: 6rem;
  font-weight: 400;
}

.invitation-body {
  margin-top: 40px;
}

.btn-invitation {
  margin-top: 139px;
  margin-left: 173px;
}

@media only screen and (max-width: 1200px) {
  .btn-invitation {
    margin-top: 90px;
  }
}

.btn-invitation:focus {
  outline: none;
  box-shadow: none;
}


/* FOOTER STYLING
=================================== */

.footer-section {
  padding-bottom: 2.5rem;
}

.footer {
  background-color: #0e0e0e!important;
  padding
}

.footer-brand {
padding-top: 100px;
}

.footer-pages {
  padding-top: 40px;
}

@media only screen and (max-width: 1200px) {
  .footer-brand {
    padding-bottom: 30px;
    padding-left: 34px;
  }

  .footer-ul-mobile {
    padding-bottom: 50px;
  }

  .copyright {
    padding-left: 32px;
  }

  .footer-social {
    padding-left: 20px;
  }
}

.footer a {
  color: white!important;
  text-decoration: none;
}

.footer-content {
  padding-top: 60px;
}

.footer-ul {
  white-space: nowrap;
}

.copyright {
  text-align: right;
}

@media only screen and (max-width: 1200px) {
   .copyright{
     text-align:left;
   }
}
